
<div style="position: absolute;
bottom: 40px; width: 50%">
    <table>
    
    <tr>
      <td>SubTotal</td>
      <td>{{ totalAmt }} EUR</td>
      <td>{{ totalQty }} item</td>
    </tr>
    <tr>
      <td>VAT Tax</td>
      <td>10%</td>
      <td>{{vatTax}} EUR</td>
    </tr>
    <tr>
        <td>Discount</td>
        <td>10%</td>
        <td>{{afterDiscount}} EUR</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{grandTotal}} EUR</td>
        <td></td>
      </tr>
  </table>
  </div>